@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/MainLayout.cshtml";
    //Layout = null;
}
<h4>Вход в систему</h4>

@using (Html.BeginForm("SignIn", "Home"))
{
    <fieldset>
        <div>
            Логин
            @Html.TextBox("login")
        </div>
        <br />

        <div>
            Пароль
            @Html.Password("password")
        </div>
        <br />

        <input type="submit" value="Войти" />
    </fieldset>

    <!--Finish it-->
    <form class="form-default" action="login-bg.mp4" method="POST">

        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a href="index.html"><img src="assets/img/logo/loder.png" alt=""></a>
            </div>
            <h2>Login Here</h2>
            <div class="form-input">
                <label for="name">Email</label>
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="form-input">
                <label for="name">Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="form-input pt-30">
                <input type="submit" name="submit" value="login">
            </div>

            <!-- Forget Password -->
            <a href="#" class="forget">Forget Password</a>
            <!-- Forget Password -->
            <a href="register.html" class="registration">Registration</a>
        </div>
    </form>


    @Html.ActionLink("Регистрация", "SignUp");
}
